In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df =pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.shape

(400, 5)

In [5]:
x = df.iloc[:,[2,3]]
y = df.iloc[:,4]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.25,random_state =0)
from sklearn.preprocessing import StandardScaler

In [7]:
print("Training data :",x_train.shape)
print("Training data :",x_test.shape)

Training data : (300, 2)
Training data : (100, 2)

In [8]:
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)

In [9]:
from sklearn.svm import SVC
classifier = SVC(kernel ='linear',random_state=0)
classifier.fit(x_train,y_train)

y_pred = classifier.predict(x_test)

In [10]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [11]:
from sklearn import metrics 
print('Accuracy score: with linear kernel')

print(metrics.accuracy_score(y_test,y_pred))

Accuracy score: with linear kernel
0.9

In [12]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf',gamma =15,C=7,random_state=0)
classifier.fit(x_train,y_train)

y_pred = classifier.predict(x_test)

In [13]:
print('Accuracy score on Test Data: with default rbf kernel')
print(metrics.accuracy_score(y_test,y_pred))

Accuracy score on Test Data: with default rbf kernel
0.89